[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
requests = "*"

[scripts]
dev = "fastapi dev main.py" 
start = "fastapi run main.py" 

[dev-packages]

[requires]
python_version = "3.12"
